	 -----
	 Release notes PDOK open location service databinding
	 -----
	 prinsmc@minlnv.nl
	 -----
	 2 aug 2010
	 -----

~~ http://maven.apache.org/doxia/references/apt-format.html


${project.name} ${project.version} Release Notes

  Dit zijn de release notes van ${project.name} versie ${project.version}. 
  
%{toc|section=1|fromDepth=0|toDepth=1}

* {${project.version} Release Notes}

** Nieuw

  * 
  
  []

** Verbetering

  * 
  
  []

* {0.2 Release Notes}

** Verbetering

  * verbeteringen in documentatie.  
  
* {0.1 Release Notes}

** Nieuw

  * Eerste pre-release oplevering met de basis functionaliteit aanwezig.