code,tt {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 13px;
}

a[href *='.pdf'] {
	display: inline-block;
	padding-right: 20px;
	line-height: 18px;
	background: transparent url(../images/pdf.png) center right no-repeat;
}

a[href $='.zip'],a[href $='.gzip'],a[href $='.rar'] {
	display: inline-block;
	padding-right: 20px;
	line-height: 18px;
	background: transparent url(../images/zip.png) center right no-repeat;
}

a[href $='.xls'],a[href $='.csv'],a[href $='.xlt'],a[href $='.xlw'] {
	display: inline-block;
	padding-right: 20px;
	line-height: 18px;
	background: transparent url(../images/xls.png) center right no-repeat;
}

a[href $='.doc'],a[href $='.wps'] {
	display: inline-block;
	padding-right: 20px;
	line-height: 18px;
	background: transparent url(../images/doc.png) center right no-repeat;
}

a[href $='.rtf'] {
	display: inline-block;
	padding-right: 20px;
	line-height: 18px;
	background: transparent url(../images/rtf.png) center right no-repeat;
}

a[href $='.txt'] {
	display: inline-block;
	padding-right: 20px;
	line-height: 18px;
	background: transparent url(../images/txt.png) center right no-repeat;
}